<div ng-controller = "gestionUsuariosCtrl as gestionUser" class="modal fade" id="modal_usuario" data-keyboard=”false” data-backdrop>
  <form name="gestionUser.formUser" ng-submit = "gestionUser.guardar()" novalidate="novalidate">
      <div class="modal-dialog" style="width: 70%;">

        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>-->
            <h4 class="modal-title">Usuarios - {{gestionUser.valAccion}}</h4>
          </div>


          <div class="modal-body" >
          
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldTipoDoc" class="form-group" >
                      <label>Tipo de Documento</label>
                      <dir-tipo-documentos obligatorio = "required" docs = "gestionUser.tiposDoc" 
                      tipos = "gestionUser.usuario.persona.tipoDocumento">
                      </dir-tipo-documentos>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group" id = "numDocError">
                      <label>Número de Documento</label>
                      <input class="form-control" 
                      type="number" 
                      ng-model="gestionUser.usuario.persona.numeroDocumento"
                      placeholder="Número de Documento"
                      type="text"
                      name = "numeroDocumento" 
                      required = ""
                      validar-campo-resource
                      valueinput = "gestionUser.usuario.persona.numeroDocumento"
                      valueid = "'numDocError'"
                      method = "gestionUser.usuarioResource.getPersona"
                      params = "{tipoDoc: gestionUser.usuario.persona.tipoDocumento.idTipoDocumento, 
                      numeroDoc: gestionUser.usuario.persona.numeroDocumento}"
                      idmsgerr = "'errorNumDoc'"
                      form = "gestionUser.formUser"
                      valueant = "gestionUser.numDocumento" 
                      msgerror = "'Persona Existe en el Sistema'" 
                      namefield = "gestionUser.formUser.numeroDocumento"/>
                      <div id = "errorNumDoc" style="display: none" 
                     class="help-block has-error error-msg"></div> 
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id = "fieldNombre1" class="form-group">
                      <label>Primer Nombre</label>
                      <input class="form-control" ng-model="gestionUser.usuario.persona.nombre1" placeholder="Primer Nombre" type="text" 
                      name = "nombre1" required = "required">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldNombre2" class="form-group">
                      <label>Segundo Nombre</label>
                      <input class="form-control" ng-model="gestionUser.usuario.persona.nombre2" placeholder="Segundo Nombre" type="text" 
                      name = "nombre2">
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id= "fieldApellido1" class="form-group">
                      <label>Primer Apellido</label>
                      <input class="form-control" ng-model="gestionUser.usuario.persona.apellido1" placeholder="Primer Apellido" type="text" 
                      name = "apellido1" required = "required">
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div  id = "fieldApellido2" class="form-group">
                      <label>Segundo Apellido</label>
                      <input class="form-control" ng-model="gestionUser.usuario.persona.apellido2" placeholder="Segundo Apellido" type="text" 
                      name = "apellido2">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-8">
                    <div id = "fieldEmail" class="form-group">
                      <label>Correo Electronico</label>
                      <input class="form-control" ng-model="gestionUser.usuario.persona.email" placeholder="Correo Electronico" type="email" 
                      name = "email" required = "required">
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id = "userError" class = "form-group">
                      <label>Usuario</label>
                      <input class="form-control" 
                      ng-model="gestionUser.usuario.nombreUsuario"
                      placeholder="Nombre de Usuario" 
                      type="text" 
                      name = "nombreUsuario" 
                      required = "required" 
                      validar-campo-resource
                      valueinput = "gestionUser.usuario.nombreUsuario"
                      valueid = "'userError'"
                      method = "gestionUser.usuarioResource.getUser"
                      params = "{nombreUsuario: gestionUser.usuario.nombreUsuario}"
                      idmsgerr = "'errorUser'"
                      form = "gestionUser.formUser" 
                      valueant = "gestionUser.nombreUsuario" 
                      msgerror = "'Usuario Existe'" 
                      namefield = "gestionUser.formUser.nombreUsuario"/>
                      <div id = "errorUser" style="display: none" 
                     class="help-block has-error error-msg"></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldPerfil"  class="form-group">
                        <label>Perfil</label>
                        <dir-perfiles obligatorio = "required" profile = "gestionUser.usuario.perfil" perfiles = "gestionUser.perfiles" name = "perfiles"  required = "required"></dir-perfiles>
                    </div>
                  </div>

                  <div class="col-xs-4" ng-show = "gestionUser.registro">
                    <div id = "requiredPass1" class="form-group">
                        <label>Contraseña</label>
                        <input id = "pass1" 
                        class="form-control" 
                        ng-model="gestionUser.usuario.contrasena" 
                        placeholder="Digite una Contraseña" type="password" 
                        name = "contrasena1"
                        ng-required = "gestionUser.required"/>
                       <!--<div id = "errorPass1" style="display: none" 
                         class="help-block has-error error-msg"></div>-->
                    </div>
                  </div>

                  <div class="col-xs-4" ng-show = "gestionUser.registro">
                    <div id = "requiredPass2" class="form-group">
                        <label>Repetir Contraseña</label>
                        <input id = "pass2" 
                        class="form-control" 
                        ng-model="gestionUser.usuario.contrasena" 
                        placeholder="Repita una Contraseña" 
                        type="password" 
                        name = "contrasena2" 
                        ng-required="gestionUser.required" />
                       <!-- <div id = "errorPass2" style="display: none" 
                         class="help-block has-error error-msg"></div>-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click = "gestionUser.closeModal()">Close</button>
            <button type="submit" ng-disabled = "gestionUser.formUser.$invalid || gestionUser.formUser.numeroDocumento.$invalid || gestionUser.formUser.nombreUsuario.$invalid"  class="btn btn-primary">Guardar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
  <!-- /.modal-dialog -->
  <!--<pre>{{gestionUser.formUser | json}}</pre>-->
  </form>
</div>

