<div class="row">
<div class="col-xs-12">
<div class="box"> 
<div class="box-header">
  <h3 class="box-title">Listado de Usuarios</h3>
  <div class="row" align="right">
    <div class="col-sm-12">
      <button class="btn btn-primary" ng-click = "listarUsuariosCtrl.abrirModal(null)"> <i class="fa fa-user"></i> Registrar</button>
    </div>
  </div>
</div>

<!-- /.box-header -->
<div class="box-body">
<div ui-i18n="{{lang}}">
  <div id="grid1" ui-grid="listarUsuariosCtrl.gridOptions" ui-grid-pagination 
  ui-grid-resize-columns ui-grid-auto-resize class="grid"></div>
 </div>
</div>
</div>
</div>
</div>
<!--<pre>{{listarUsuariosCtrl.users.dataUser| json}}</pre>-->
<!-- /.box-body -->
<script type="text/javascript">
   
</script>



<div ng-include = "'template/gestionUsuarios/modalUsuarios.html'"></div>

