<div ng-controller = "gestionEmpresaModalCtrl as modalEmp" class="modal fade" id="modal_empresa" data-keyboard=”false” data-backdrop>
  <form name="modalEmp.formEmpresa" ng-submit = "modalEmp.guardar()" novalidate="novalidate">
      <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>-->
            <h4 class="modal-title">Empresa - Registro</h4>
          </div>


          <div class="modal-body" >
          
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldTipoDoc" class="form-group" >
                      <label>Tipo de Documento</label>
                      <dir-tipo-documentos 
                      obligatorio = "required" 
                      docs = "modalEmp.tiposDoc" 
                      tipos = "modalEmp.usuario.persona.tipoDocumento">
                      </dir-tipo-documentos>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group" id = "numDocError">
                      <label>Número de Documento</label>
                      <input class="form-control" 
                      type="number" 
                      ng-model="modalEmp.usuario.persona.numeroDocumento"
                      placeholder="Número de Documento"
                      type="text"
                      name = "numeroDocumento" 
                      required = ""
                      validar-campo-resource
                      valueinput = "modalEmp.usuario.persona.numeroDocumento"
                      valueid = "'numDocError'"
                      method = "modalEmp.usuarioResource.getPersona"
                      params = "{tipoDoc: modalEmp.usuario.persona.tipoDocumento.idTipoDocumento, 
                      numeroDoc: modalEmp.usuario.persona.numeroDocumento}"
                      idmsgerr = "'errorNumDoc'"
                      form = "modalEmp.formEmpresa"
                      valueant = "modalEmp.numDocumento" 
                      msgerror = "'Persona Existe en el Sistema'" 
                      namefield = "modalEmp.formEmpresa.numeroDocumento"/>
                      <div id = "errorNumDoc" style="display: none" 
                     class="help-block has-error error-msg"></div> 
                    </div>
                  </div>
                  <div ng-hide = "modalEmp.camposNit" class="col-xs-4">
                    <div id = "fieldNombre1" class="form-group">
                      <label>Primer Nombre</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.persona.nombre1" 
                      placeholder="Primer Nombre" 
                      type="text" 
                      name = "nombre1" 
                      ng-required = "modalEmp.required" 
                      maxlength="100" />
                    </div>
                  </div>
                </div>

                <div  ng-show = "modalEmp.camposNit" class="row">
                    <div class="col-xs-12">
                        <div id = "fieldNombre2" class="form-group">
                          <label>Nombre Empresa</label>
                          <input class="form-control" 
                          ng-model="modalEmp.usuario.persona.nombre2" 
                          placeholder="Segundo Nombre" 
                          type="text" 
                          name = "nombre2" 
                          maxlength="100"
                          ng-required = "!modalEmp.required" />
                        </div>
                    </div>
                </div>

                <div ng-hide = "modalEmp.camposNit" class="row">
                  <div class="col-xs-4">
                    <div id = "fieldNombre2" class="form-group">
                      <label>Segundo Nombre</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.persona.nombre2" 
                      placeholder="Segundo Nombre" 
                      type="text" 
                      name = "nombre2" 
                      maxlength="100" 
                      ng-required = "modalEmp.required" />
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id= "fieldApellido1" class="form-group">
                      <label>Primer Apellido</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.persona.apellido1" 
                      placeholder="Primer Apellido" 
                      type="text" 
                      name = "apellido1" 
                      required = "required" 
                      maxlength="100" 
                      ng-required = "modalEmp.required" />
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div  id = "fieldApellido2" class="form-group">
                      <label>Segundo Apellido</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.persona.apellido2" 
                      placeholder="Segundo Apellido" 
                      type="text" 
                      name = "apellido2" 
                      maxlength="100" 
                      ng-required = "modalEmp.required" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-8">
                    <div id = "fieldEmail" class="form-group">
                      <label>Correo Electronico</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.persona.email" 
                      placeholder="Correo Electronico" 
                      type="email" 
                      name = "email" 
                      required = "required" 
                      maxlength="100" 
                      validar-campo-resource
                      valueinput = "modalEmp.usuario.persona.email"
                      valueid = "'fieldEmail'"
                      method = "modalEmp.usuarioResource.getPersonaEmail"
                      params = "{email: modalEmp.usuario.persona.email}"
                      idmsgerr = "'errorEmail'"
                      form = "modalEmp.formEmpresa"
                      valueant = "modalEmp.email" 
                      msgerror = "'El email ingresado ya existe'" 
                      namefield = "modalEmp.formEmpresa.email"/>
                      <div id = "errorEmail" style="display: none" 
                     class="help-block has-error error-msg"></div> 
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id = "userError" class = "form-group">
                      <label>Usuario</label>
                      <input class="form-control" 
                      ng-model="modalEmp.usuario.nombreUsuario"
                      placeholder="Nombre de Usuario" 
                      type="text" 
                      name = "nombreUsuario" 
                      required = "required" 
                      validar-campo-resource
                      valueinput = "modalEmp.usuario.nombreUsuario"
                      valueid = "'userError'"
                      method = "modalEmp.usuarioResource.getUser"
                      params = "{nombreUsuario: modalEmp.usuario.nombreUsuario}"
                      idmsgerr = "'errorUser'"
                      form = "modalEmp.formEmpresa" 
                      valueant = "modalEmp.nombreUsuario" 
                      msgerror = "'Usuario Existe'" 
                      namefield = "modalEmp.formEmpresa.nombreUsuario" 
                      maxlength="10"/>
                      <div id = "errorUser" style="display: none" 
                     class="help-block has-error error-msg"></div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldPerfil"  class="form-group">
                        <label>Perfil</label>
                        <dir-perfiles obligatorio = "required" profile = "modalEmp.usuario.perfil" perfiles = "modalEmp.perfiles" name = "perfiles"  required = "required"></dir-perfiles>
                    </div>
                  </div>

                  <div class="col-xs-4" ng-show = "modalEmp.registro">
                    <div id = "requiredPass1" class="form-group">
                        <label>Contraseña</label>
                        <input id = "pass1" 
                        class="form-control" 
                        ng-model="modalEmp.usuario.contrasena" 
                        placeholder="Digite una Contraseña" type="password" 
                        name = "contrasena1"
                        ng-required = "modalEmp.required" 
                        maxlength="100"/>
                       <!--<div id = "errorPass1" style="display: none" 
                         class="help-block has-error error-msg"></div>-->
                    </div>
                  </div>

                  <div class="col-xs-4" ng-show = "modalEmp.registro">
                    <div id = "requiredPass2" class="form-group">
                        <label>Repetir Contraseña</label>
                        <input id = "pass2" 
                        class="form-control" 
                        ng-model="modalEmp.usuario.contrasena" 
                        placeholder="Repita una Contraseña" 
                        type="password" 
                        name = "contrasena2" 
                        ng-required="modalEmp.required" />
                       <!-- <div id = "errorPass2" style="display: none" 
                         class="help-block has-error error-msg"></div>-->
                    </div>
                  </div>
                </div>


              </div>
              <!-- /.box-body -->
            </div>
          </div>
          
          <div class="modal-footer">
            <div ng-show = "modalEmp.mostrarMsgTransaccion" class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <div class="form-group">
                    <div class="alert alert-success-custom" ng-class= "modalEmp.classMsgTransaccion" role="alert">
                      {{modalEmp.msgTransaccion}}
                    </div>
                  </div>
                </div>
            </div>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click = "modalEmp.closeModal()">Close</button>
            
            <button type="submit" ng-disabled = "modalEmp.formEmpresa.$invalid || modalEmp.formEmpresa.numeroDocumento.$invalid || modalEmp.formEmpresa.nombreUsuario.$invalid"  class="btn btn-primary">Guardar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
  <!-- /.modal-dialog -->
  <!--<pre>{{modalEmp.formEmpresa | json}}</pre>-->
  </form>
</div>

