<ol class="breadcrumb">
  <li><a href=""><i class="fa fa-dashboard"></i> Inicio</a></li>
  <li class="active">Formularios</li>
</ol>


<div class="row">
<div class="col-xs-12">
<div class="box"> 
<div class="box-header">
  <h3 class="box-title">Mis Formularios</h3>
  <div class="row" align="right">
    <div class="col-sm-12">
      <button class="btn btn-primary" ng-click = ""> <i class="fa fa-user"></i> Registrar</button>
    </div>
  </div>
</div>

<!-- /.box-header -->
<div class="box-body">
<div ui-i18n="{{lang}}">
  <div id="grid1" ui-grid="formulariosCtrl.gridOptions" ui-grid-pagination 
  ui-grid-resize-columns ui-grid-auto-resize class="grid">
  	<div class="watermark" ng-show="!formulariosCtrl.gridOptions.data.length">No existen datos</div>
  </div>
 </div>
</div>
</div>
</div>
</div>