<div ng-controller = "gestionModalClienteCtrl as modalClientCtrl" class="modal fade" id="moda_clientes" data-keyboard=”false” data-backdrop>
  <form name="modalClientCtrl.formClientes" ng-submit = "modalClientCtrl.guardar()" novalidate="novalidate">
      <div class="modal-dialog" style="width: 70%;">
        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span></button>-->
            <h4 class="modal-title">Cliente - {{modalClientCtrl.valAccion}}</h4>
          </div>


          <div class="modal-body" >
          
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title"></h3>
              </div>
              <div class="box-body">
                <div class="row">
                  <div class="col-xs-4">
                    <div id = "fieldTipoDoc" class="form-group" >
                      <label>Tipo de Documento</label>
                      <dir-tipo-documentos 
                      obligatorio = "required" 
                      docs = "modalClientCtrl.tiposDoc" 
                      tipos = "modalClientCtrl.cliente.persona.tipoDocumento">
                      </dir-tipo-documentos>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group" id = "numDocError">
                      <label>Número de Documento</label>
                      <input class="form-control" 
                      type="number" 
                      ng-model="modalClientCtrl.cliente.persona.numeroDocumento"
                      placeholder="Número de Documento"
                      type="text"
                      name = "numeroDocumento" 
                      required = ""
                      validar-campo-resource
                      valueinput = "modalClientCtrl.cliente.persona.numeroDocumento"
                      valueid = "'numDocError'"
                      method = "modalClientCtrl.personaResource.getPersona"
                      params = "{tipoDoc: modalClientCtrl.cliente.persona.tipoDocumento.idTipoDocumento, 
                      numeroDoc: modalClientCtrl.cliente.persona.numeroDocumento}"
                      idmsgerr = "'errorNumDoc'"
                      form = "modalClientCtrl.formClientes"
                      valueant = "modalClientCtrl.numDocumento" 
                      msgerror = "'Persona Existe en el Sistema'" 
                      namefield = "modalClientCtrl.formClientes.numeroDocumento"/>
                      <div id = "errorNumDoc" style="display: none" 
                     class="help-block has-error error-msg"></div> 
                    </div>
                  </div>
                  <div ng-hide = "modalClientCtrl.camposNit" class="col-xs-4">
                    <div id = "fieldNombre1" class="form-group">
                      <label>Primer Nombre</label>
                      <input class="form-control" 
                      ng-model="modalClientCtrl.cliente.persona.nombre1" 
                      placeholder="Primer Nombre" 
                      type="text" 
                      name = "nombre1" 
                      ng-required="modalClientCtrl.required" 
                      maxlength="100" />
                    </div>
                  </div>
                </div>


                <div ng-hide = "modalClientCtrl.camposNit" class="row">
                  <div class="col-xs-4">
                    <div id = "fieldNombre2" class="form-group">
                      <label>Segundo Nombre</label>
                      <input class="form-control" 
                      ng-model="modalClientCtrl.cliente.persona.nombre2" 
                      placeholder="Segundo Nombre" 
                      type="text" 
                      name = "nombre2" 
                      maxlength="100"/>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div id= "fieldApellido1" class="form-group">
                      <label>Primer Apellido</label>
                      <input class="form-control" 
                      ng-model="modalClientCtrl.cliente.persona.apellido1" 
                      placeholder="Primer Apellido" 
                      type="text" 
                      name = "apellido1" 
                      ng-required="modalClientCtrl.required" 
                      maxlength="100" 
                      required="required" />
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div  id = "fieldApellido2" class="form-group">
                      <label>Segundo Apellido</label>
                      <input class="form-control" 
                      ng-model="modalClientCtrl.cliente.persona.apellido2" 
                      placeholder="Segundo Apellido" 
                      type="text" 
                      name = "apellido2" 
                      maxlength="100" />
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id = "fieldNombreEmpresa" class="form-group">
                          <label>Nombre Empresa</label>
                          <input class="form-control" 
                          ng-model="modalClientCtrl.cliente.persona.empresa.nombreEmpresa" 
                          placeholder="Nombre de su Empresa" 
                          type="text" 
                          name = "nombreEmpresa" 
                          maxlength="100"
                          required="required" />
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-xs-8">
                    <div id = "fieldEmail" class="form-group">
                      <label>Correo Electronico</label>
                      <input class="form-control" 
                      ng-model="modalClientCtrl.cliente.persona.email" 
                      placeholder="Correo Electronico" 
                      type="email" 
                      name = "email" 
                      required = "required" 
                      maxlength="100" 
                      validar-campo-resource
                      valueinput = "modalClientCtrl.cliente.persona.email"
                      valueid = "'fieldEmail'"
                      method = "modalClientCtrl.personaResource.getPersonaEmail"
                      params = "{email: modalClientCtrl.cliente.persona.email}"
                      idmsgerr = "'errorEmail'"
                      form = "modalClientCtrl.formClientes"
                      valueant = "modalClientCtrl.email" 
                      msgerror = "'El email ingresado ya existe'" 
                      namefield = "modalClientCtrl.formClientes.email"/>
                      <div id = "errorEmail" style="display: none" 
                     class="help-block has-error error-msg"></div> 
                    </div>
                  </div>
                  <div class="col-xs-4">
                      <div id = "direccion" class="form-group">
                          <label>Dirección</label>
                          <input id = "dir" 
                          class="form-control" 
                          ng-model="modalClientCtrl.cliente.persona.direccion.nombreDireccion" 
                          placeholder="Ingrese la dirección" 
                          type="text" 
                          name = "direccion" 
                          required="required"/>
                      </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div id = "pais" class="form-group">
                          <label>Pais</label>
                          <pais-directive 
                          pais = "modalClientCtrl.cliente.persona.pais"
                          obligatorio = "required">
                          </pais-directive>
                        </div>

                    </div>

                    <div class="col-xs-4">
                          <div id = "departamento" class="form-group">
                            <label>Departamento</label>
                            <departamento-directive 
                            departamento = "modalClientCtrl.cliente.persona.departamento"
                            obligatorio = "required" 
                            name = "departamento" >
                            </departamento-directive>
                          </div>
                    </div>

                    <div class="col-xs-4">
                          <div id = "ciudad" class="form-group">
                            <label>Ciudad</label>
                            <ciudad-directive 
                            ciudad = "modalClientCtrl.cliente.persona.ciudad"
                            obligatorio = "required">
                            </ciudad-directive>
                          </div>
                    </div>

                </div>

                <div class="row">
                  <div class="col-xs-12">
                      <div id = "descripcionEmpresa" class="form-group">
                        <label>Descripción de la empresa de su cliente</label>  
                        <textarea class="form-control" 
                        id="textDescripcionEmpresa" 
                        name="descripcionEmpresa" 
                        ng-model = "modalClientCtrl.cliente.persona.empresa.descripcionEmpresa"
                        required="required" >
                        </textarea>
                      </div>
                  </div> 
                </div>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
          
          <div class="modal-footer">
            <div ng-show = "modalClientCtrl.mostrarMsgTransaccion" class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                </div>
                <div class="col-xs-4">
                  <div class="form-group">
                    <div class="alert alert-success-custom" ng-class= "modalClientCtrl.classMsgTransaccion" role="alert">
                      {{modalClientCtrl.msgTransaccion}}
                    </div>
                  </div>
                </div>
            </div>
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click = "modalClientCtrl.closeModal()">Close</button>
            
            <button type="submit" ng-disabled = "modalClientCtrl.formClientes.$invalid || modalClientCtrl.formClientes.numeroDocumento.$invalid || modalClientCtrl.formClientes.email.$invalid" 
            class="btn btn-primary">Guardar</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
  <!-- /.modal-dialog -->
  <!--<pre>{{modalClientCtrl.formClientes | json}}</pre>-->
  </form>
</div>

